[submodule "slideflow/gan/stylegan2"]
	path = slideflow/gan/stylegan2
	url = https://github.com/jamesdolezal/stylegan2-slideflow.git
	branch = main
[submodule "slideflow/gan/stylegan3"]
	path = slideflow/gan/stylegan3
	url = https://github.com/jamesdolezal/stylegan3-slideflow.git
[submodule "slideflow/simclr/simclr"]
	path = slideflow/simclr/simclr
	url = https://github.com/jamesdolezal/simclr.git
[submodule "slideflow/swav"]
	path = slideflow/swav
	url = https://github.com/matte-esse/swav.git
