docs/build/*
*.pyc
*.egg-info
*.ipynb_checkpoints
*.pdf
.vscode/*
.neptune/*
docs-source/build/*
docs-source/pytorch_sphinx_theme/yarn.lock.backup
build/*
dist/*
tutorials/*
slideflow_test/*
torch_test/*
warn_report*.txt
slideflow.log
.DS_Store
scripts/slideflow_test
scripts/cufile.log
scripts/dataset.json
