gast>=0.3.3
tensorflow>=2.7
scipy
sklearn
matplotlib>=3.2
imageio
opencv-python
shapely
umap-learn
seaborn
pandas
pyvips==2.1.11
fpdf
spams
cplex
cvxpy>=1.1.15
lifelines
torch>=1.9.1
torchvision
pretrainedmodels
gitpython
scikit-image
tqdm
click
protobuf
tensorboard
crc32c
h5py
numpy
tabulate