numpy<1.22
gast>=0.3.3
tensorflow>=2.7,<2.10
scipy
sklearn
matplotlib>=3.2
imageio
opencv-python
shapely
umap-learn
seaborn
pandas
pyvips>=2.1.11
fpdf
cplex
cvxpy>=1.1.15
lifelines
torch>=1.9.1,<1.13
torchvision
pretrainedmodels
gitpython
scikit-image
tqdm
click
protobuf<3.21
tensorboard
crc32c
h5py
tabulate
saliency
rasterio
smac
ConfigSpace
pyarrow
ninja
tensorflow_probability
rich