numpy
gast>=0.3.3
tensorflow>=2.7,<2.12
scipy
scikit-learn
matplotlib>=3.2
imageio
opencv-python-headless
shapely
umap-learn
seaborn<0.14
pandas
pyvips>=2.1.11
fpdf2
torch>=1.9.1
torchvision
pretrainedmodels
gitpython
scikit-image
tqdm
click
protobuf<3.21
tensorboard
crc32c
tabulate
saliency
rasterio
smac==1.4.0
ConfigSpace
tensorflow_probability<0.20
tensorflow_datasets<4.9.0
rich
pillow>=6.0.0
imgui>=2.0.0
pyopengl
glfw
saliency
parameterized
pyperclip
requests
cucim
versioneer
cellpose<2.2
zarr
spacy<3.8
fastai
gdown
triangle
pyarrow