wheel
gast>=0.3.3
tensorflow>=2.5
scipy
sklearn
matplotlib>=3.2
imageio
opencv-python
shapely
umap-learn
seaborn
pandas
tabulate
pyvips==2.1.11
fpdf
spams
cplex
cvxpy>=1.1.15
lifelines
torch>=1.9.1
torch-vision
pyspng
multiprocessing_logging
tqdm
